body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  display: flex;
  justify-content: right;
}
.App-Interactions {
  background-color: #282c34; 
  display: flex;
  border: none;
  color: rgb(21, 189, 29);
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  justify-content: left; 
  text-align: center;
}

.App-Interactions button {
  width: 50px; 
  height: 50px; 
  font-size: 1.2em; 
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
